@charset "UTF-8";

.info-wrap ul li:first-child {
  color: #7102a5;
  font-weight: 600;
}

.content-wrap.food-wrap{
  max-width: 1400px;
  min-width: 350px;
}

.content-frame.food-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100vh - 120px);
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 81vh;
  }
}

.content-frame.food-wrap .top-group {
  display: none;
}

.content-frame.food-wrap .top-group .category-wrap {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .top-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content-frame.food-wrap .top-group input[type=button] {
  background-color: #7E57C2;
  color: white;
}

.content-frame.food-wrap .board-wrap {
  position: relative;
  width: 50%;
  padding: 0 2em;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .board-wrap {
    width: 100%;
    padding: 0;
  }
}

.content-frame.food-wrap .board-wrap .board-list {
  font-size: 16px;
}

.board-list {

    height:210px;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .board-wrap .board-list .board-header {
    display: none !important;
  }
}

.content-frame.food-wrap .board-wrap .board-list .board-line {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.125em 0;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .board-wrap .board-list .board-line {
    padding: 0.375em 0;
    height:35px;
    font-size:15px;
  }
}

.content-frame.food-wrap .board-wrap .board-list .board-line .board-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-frame.food-wrap .board-wrap .board-list .board-line .board-category {
  position: relative;
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
}

.content-frame.food-wrap .board-wrap .board-list .board-line .board-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.content-frame.food-wrap .board-wrap .board-list .board-line .board-map {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.content-frame.food-wrap .board-wrap .button-wrap {
  position: absolute;
  right: 2em;
  bottom: 0;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .board-wrap .button-wrap {
    display: none;
  }
}

.content-frame.food-wrap .board-wrap .button-wrap input[type=button] {
  background-color: #7E57C2;
  color: white;
}

.content-frame.food-wrap .pageNo-wrap .pageno-group {
  display: none;
}

@media screen and (max-width: 992px) {
  .content-frame.food-wrap .pageNo-wrap .pageno-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content-frame.food-wrap .pageNo-wrap .pageno-group li {
  font-size: 16px;
  padding-right: 0.125em;
}

/* 지도 css */
.map-wrap {
  width: 50%;
  height:530px;
}

@media screen and (max-width: 992px) {
  .map-wrap {
    width: 100%;
    height: 40%;
  }
}

.map-wrap #map {
  width: 100%;
  height: 100%;
}

.matzip-list-box {
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll;
}

.signUp-popup-wrap.matzip-wrap {
    min-width: 450px
}

ul {
    text-align: center;
    display: inline-block;
    border-right: 0;
    list-style: none;
}
ul li {
    text-align: center;
}

ul li a {
    display: block;
    box-sizing: border-box;
}

ul li.on {
    background: #eda712;
}

ul li.on a {
    color: #fff;
}

.page-wrap {
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:stretch;
    position:relative;
    bottom:-100px;

}

@media screen and (max-width: 992px) {
    .page-wrap {
        text-align:center;
        position:relative;
        font-size:13px;
        bottom:-55px;
    }
    .board-category, .board-title, .board-map {
        font-size:10px;
    }

    .board-category {
        width:50px;
    }
    .board-list {
        height:160px;
    }

    .recm-btn {
        font-size:12px;
        border-radius:5px;
        width:70px;
        height:30px;
    }

}

.btn-wrap {
    font-weight:800;
    color:#B266FF;
}

.btn-wrap:hover {
    color:#9933FF;
}

.board-text {
    width:50px;
    color:grey;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}
