@charset "UTF-8";

.content-wrap .content-frame.food-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  min-height: 100px;
  margin-bottom: 3em;
  border-radius: 1.5em;
  padding: 2em;
  position: relative;
}


.form-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.w70p {
  width: 70% !important;
}

.w30p {
  width: 30% !important;
}

.content-wrap {
  max-width: 950px;
  min-width: 350px;
}

.content-wrap .content-frame .food-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.inner-star::before {
    color: #7102a5;
    padding-top: 1em;
}


.inner-star {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.outer-star {
    position: relative;
    display: inline-block;
    color: #CCCCCC;
}

.outer-star::before, .inner-star::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
}

.rating-star {
    margin-bottom: 0 !important;
    margin-right: 0.3em;
}


.rating-star *{
    margin-bottom: 0 !important;
}

.food-board-title {
    font-size: 16px;
}


.food-board-title p{
    font-size: 16px;
    margin: 0.2em;
    font-weight: 500;
}


.food-board-title p:first-child{
    margin: 0.2em 0.2em 0.2em 0;
}

.food-board-title .recm-icon {
    font-size: 14px;
    color: #7E57C2;
}

.food-board-title .food-board-updel {
  display: flex;
  margin: 0 !important
}

.food-board-writer p{
  margin-right: 0.3em
}


.content-frame * {
    font-family: 'Noto Sans KR';
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.matzip-write input {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #8a8a8a;
    background-color: rgba(5, 5, 5, 0);
    padding: 3px 10px;
    margin: 0.5em 0;
    width: 100%;
    height: 35px;
 }


.matzip-write {
    width: 100%;
    padding: 1em;
}

.content-inner-box{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .content-inner-box {
    flex-wrap: wrap;
  }
}

.content-inner-box input {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #8a8a8a;
    background-color: rgba(5, 5, 5, 0);
    padding: 3px 10px;
    margin: 0.5em 0;
    height: 35px;
 }

.content-inner-box select {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #8a8a8a;
    background-color: rgba(5, 5, 5, 0);
    padding: 3px 10px;
    margin: 0.5em 0;
    width: 100%;
    height: auto;
 }


.content-inner-box #star {
    color: #523781;
    border: 2px solid;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Open Sans';
    letter-spacing: 2px;
    width: auto;
}

.content-inner-box #category {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #8a8a8a;
    background-color: rgba(5, 5, 5, 0);
    padding: 3px 10px;
    margin: 0.5em 0;
    width: auto;
}

 .content-inner-box .keyword{
    width: 70%;
    color: gray;
 }

 .content-inner-box #matzip-name{
    width: 20%;
 }

.content-inner-box .button-wrap input[type='button']{
    width: 80px;
    height: 35px;
    border: none;
}

.content-radio {
    display: none;
}

.content-radio-checked:checked+label {
    background-color: #ebebeb;
}

.content-label {
    display: block;
    padding: 0.75rem;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
  .content-frame {
    direction: column;
    flex-wrap : wrap;
  }
}

.content-frame .food-info-wrap {
  width: 50%;
  padding: 2em;
}

@media screen and (max-width: 576px) {
  .content-frame .food-info-wrap {
    width: 100%;
    padding: 0em;
  }
}

.content-frame .food-info-wrap .food-info-title {
  font-size: 18px;
  font-weight: 500;
}

.ban-button {
    border: 2px solid #9E0061;
    color: white;
    background: gray;
    border-radius: 5em;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
    opacity: 0.4;
}

.ban-button:hover {
    transition: 1s ease-out;
    opacity: 1;
}

.closed-matzip-report {
    color: darkred;
    font-size: 20px;
    font-weight: bold;
}

.content-frame .food-info-wrap .food-info-addr {
  font-size: 14px;
}

.content-frame .food-info-wrap .food-info-content {
  font-size: 15px;
}

.score-wrap {
  border-bottom: 2px solid #7E57C2;
  margin-bottom: 1.5em;
  padding-bottom: 0.5vh;
}

.score-wrap .rate-wrap {
 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  font-size: 18px;
  font-weight: 600;
}


.score-wrap .rate-wrap p {
    color: #7102a5;
    margin-right: 0.3em;
}

.food-board-wrap .food-board-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 18px;
}

.food-board-wrap .food-board-writer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 0.5vh;
}

.food-board-wrap .food-board-writer span {
  margin-left: 0.25em;
  font-size: 14px;
}


.food-board-wrap .food-board-img {
    width: 400px;
    height: 300px;
}

.food-board-wrap .food-board-img div {
  max-width: 100%;
  max-height: 300px;
}

.food-board-wrap .food-board-content p br {
  display:none !important;
}

.map-wrap {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .map-wrap {
    width: 100%;
    height: 40%;
  }
}

.map-wrap #map {
  width: 100%;
  height: 250px;
}

.matzip-upd.address {
    width: 57%;
}


.swiper {
   width: 400px;
   height: 350px;
   margin: 0
}

.swiper-slide {
	text-align:center;
}

.swiper-slide img {
	width: 99%;
    height: 95%;
	object-fit: contain;
}

:root {
    --swiper-theme-color: lightgray !important;
    --swiper-navigation-size: 30px !important;
}
