@charset "UTF-8";

.info-wrap ul li:first-child {
  color: #7102a5;
  font-weight: 600;
}

.content-wrap {
  max-width: 1400px;
  min-width: 350px;
}

.content-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100vh - 120px);
}

@media screen and (max-width: 992px) {
  .content-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 81vh;
  }
}

.content-frame .top-group {
  display: none;
}

.content-frame .top-group .category-wrap {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media screen and (max-width: 992px) {
  .content-frame .top-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content-frame .top-group input[type=button] {
  background-color: #7E57C2;
  color: white;
}

.content-frame .board-wrap {
  position: relative;
  width: 50%;
  padding: 0 2em;
}

@media screen and (max-width: 992px) {
  .content-frame .board-wrap {
    width: 100%;
    padding: 0;
  }
}

.content-frame .board-wrap .board-list {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .content-frame .board-wrap .board-list .board-header {
    display: none !important;
  }
}

.content-frame .board-wrap .board-list .board-line {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.125em 0;
}

@media screen and (max-width: 992px) {
  .content-frame .board-wrap .board-list .board-line {
    padding: 0.375em 0;
  }
}

.content-frame .board-wrap .board-list .board-line .board-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-frame .board-wrap .board-list .board-line .board-category {
  position: relative;
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
}

.content-frame .board-wrap .board-list .board-line .board-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.content-frame .board-wrap .board-list .board-line .board-map {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.content-frame .board-wrap .button-wrap {
  position: absolute;
  right: 2em;
  bottom: 0;
}

@media screen and (max-width: 992px) {
  .content-frame .board-wrap .button-wrap {
    display: none;
  }
}

.content-frame .board-wrap .button-wrap input[type=button] {
  background-color: #7E57C2;
  color: white;
}

.content-frame .pageNo-wrap .pageno-group {
  display: none;
}

@media screen and (max-width: 992px) {
  .content-frame .pageNo-wrap .pageno-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content-frame .pageNo-wrap .pageno-group li {
  font-size: 16px;
  padding-right: 0.125em;
}

.map-wrap {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .map-wrap {
    width: 100%;
    height: 40%;
  }
}

.map-wrap #map {
  width: 100%;
  height: 100%;
}

.matzip-list-box {
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll;
}

.signUp-popup-wrap.matzip-wrap {
    min-width: 450px
}