header ul li:nth-child(2) .select-wrap select {
  background: url(../image/select_arrow.jpg) no-repeat right;
}

.content-wrap .content-frame .subject p img  {
  width: 100%
}

.content-wrap .content-frame .subject a {
  text-decoration: underline;
}

.content-wrap .content-frame .subject a:hover {
  font-weight: bold;

}


.recommend-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.recommend-wrap .recommend-titleLine {
  color: #7E57C2;
  font-size: 1rem;
  width: 100%;
}

.recommend-wrap .recommend-titleLine::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #7E57C2;
  padding-top: 0.375em;
}

.recommend-wrap .recommend {
  margin-top: 1.5em;
  border: 1px solid gray;
  border-radius: 1.5em;
  width: 100%;
  min-height: 150px;
  padding: 1em;
}

.recommend-wrap .recommend .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1em 0;
  content: "";
  padding-bottom: 1em;
  border-bottom: 2px solid black;
  width: 25%;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.875em;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info .title {
  margin-bottom: 0.5em;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info .sub {
  color: #7E57C2;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info .sub .date {
  display: inline-block;
  color: gray;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info .sub .icon {
  display: inline-block;
}

.recommend-wrap .recommend .wrap .recommend-info-wrap .info .sub .icon span {
  font-size: 1em;
}

.recommend-wrap .recommend .wrap .content {
  font-weight: 400;
}

.recommend-wrap .recommend .wrap .content-mod {
  font-weight: 400;
  margin: 12px 0 29px;
  padding: 16px 10px 10px 18px;
  border: 1px solid gray;
  border-radius: 6px;
  box-sizing: border-box;
  background: var(--skinCommentWriterBg);
}

.recommend-wrap .recommend .wrap .content-mod .comment_inbox_text {
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  width: 100%;
  min-height: 17px;
  padding-right: 1px;
  border: 0;
  font-size: 13px;
  -webkit-appearance: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;
  color: var(--skinTextColor);
  outline: 0;
}

.recommend-wrap .recommend .wrap .register_box {
    float: right;
}

.recommend-wrap .recommend .wrap .register_box .button {
  display: inline-block;
  min-width: 46px;
  height: 34px;
  line-height: 36px;
  font-size: 13px;
  color: var(--skinCommentWriterText);
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
}

/*
.recommend-wrap .recommend-write-wrap #writer-info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.recommend-wrap .recommend-write-wrap #writer-info .title {
  margin-top: 0.75em;
}


.recommend-wrap .recommend-write-wrap .content-writer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.recommend-wrap .recommend-write-wrap .content-writer-wrap textarea {
  font-weight: 600;
  resize: none;
}
*/

.CommentWriter {
    margin: 12px 0 29px;
    padding: 16px 10px 10px 18px;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
    background: var(--skinCommentWriterBg);
}
.CommentWriter .comment_inbox {
     position: relative;
     margin-bottom: 10px;
 }
 .blind {
     position: absolute;
     clip: rect(0 0 0 0);
     width: 1px;
     height: 1px;
     margin: -1px;
     overflow: hidden;
 }
 .CommentWriter .comment_inbox_name {
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 13px;
  }
  .CommentWriter .comment_inbox_text {
      overflow-x: hidden;
      overflow-y: hidden;
      display: block;
      width: 100%;
      min-height: 17px;
      padding-right: 1px;
      border: 0;
      font-size: 13px;
      -webkit-appearance: none;
      resize: none;
      box-sizing: border-box;
      background: transparent;
      color: var(--skinTextColor);
      outline: 0;
  }
  .CommentWriter .comment_attach {
      position: relative;
  }
  .CommentWriter .attach_box {
      float: left;
      padding-top: 10px;
  }
  .CommentWriter .attach_box .button_file {
      overflow: hidden;
      display: inline-block;
      margin-top: 1px;
      margin-right: 16px;
      cursor: pointer;
      vertical-align: top;
  }
  .CommentWriter .attach_box .button_file .ico-post-photo-323232 {
      width: 18px;
  }
  .CommentWriter .attach_box .button_sticker {
      display: inline-block;
      vertical-align: top;
  }
  .CommentWriter .attach_box .button_sticker .ico-post-sticker-323232 {
      width: 17px;
  }
  .CommentWriter .register_box {
      float: right;
  }
  .CommentWriter .register_box .button {
      display: inline-block;
      min-width: 46px;
      height: 34px;
      line-height: 50px;
      font-size: 13px;
      color: var(--skinCommentWriterText);
      border-radius: 6px;
      box-sizing: border-box;
      font-weight: 700;
      text-align: center;
      vertical-align: top;
  }

