/*
header ul li:nth-child(2) .select-wrap select {
  background: url(../image/select_arrow.jpg) no-repeat right;
}*/

.content-wrap.boardList {
  max-width: 1300px;
}

.content-wrap .content-frame.boardList {
  margin-bottom: 1.5em;
}

.content-wrap .content-top-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .content-wrap .content-top-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.content-wrap .content-top-group .category-group {
  position: relative;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .content-wrap .content-top-group .category-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.content-wrap .content-top-group .category-group .person-function {
  width: 100px;
}

.content-wrap .content-top-group button {
  background-color: #7E57C2;
  color: white;
  border-radius: 0.25em;
  padding: 0.375em;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #b1a5a5;
  box-shadow: 2px 2px 2px #b1a5a5;
}

.content-wrap .content-top-group button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content-wrap .content-top-group button::after {
  content: "글작성✍";
}

@media screen and (max-width: 576px) {
  .content-wrap .content-top-group button::after {
    content: "글작성✍";
  }
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-header {
    display: none !important;
  }
}

.content-wrap .board-list .board-line {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  min-height: 40px;
}

.content-wrap .board-list .board-line:not(.board-header):hover {
  background-color: #faf6f6;
}

.content-wrap .board-list .board-line .board-cell {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-cell {
    font-size: 12px;
  }
}

.content-wrap .board-list .board-line .board-no {
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
}

.content-wrap .board-list .board-line .board-category {
  position: relative;
  cursor: pointer;
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content-wrap .board-list .board-line .board-category .person-function {
  width: 100px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-category {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    font-size: 10px;
  }
}

.content-wrap .board-list .board-line .board-title {
  position: relative;
  cursor: pointer;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  -ms-flex-negative: 3;
  flex-shrink: 3;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content-wrap .board-list .board-line .board-title .person-function {
  width: 100px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-title {
    font-size: 14px;
  }
}

.content-wrap .board-list .board-line .board-answer {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-answer {
    display: none;
  }
}

.content-wrap .board-list .board-line .board-like {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-like {
    display: none;
  }
}

.content-wrap .board-list .board-line .board-writer {
  position: relative;
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
  cursor: pointer;
}

.content-wrap .board-list .board-line .board-date {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

@media screen and (max-width: 576px) {
  .content-wrap .board-list .board-line .board-date {
    display: none;
  }
}

.content-wrap .search-wrap {
  display: none;
}

@media screen and (max-width: 576px) {
  .content-wrap .search-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.content-wrap .search-wrap .select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content-wrap .search-wrap .select-wrap select {
  width: 70px;
  height: 28px;
  border-radius: 0.375em;
  border: 1px solid black;
  font-size: 12px;
  line-height: 30px;
  padding: 0 0.5em;
  margin-right: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../image/select_arrow.jpg) no-repeat right;
}

.content-wrap .search-wrap .search-bar {
  border: 1px solid black;
  border-radius: 0.375em;
  font-size: 0.75rem;
  font-weight: bold;
  width: 160px;
  padding-left: 0.5em;
  margin: 0 0.375em;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #ebebeb;
}

.content-wrap .search-wrap .search-bar:valid {
  background-color: white;
}

.content-wrap .pageno-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1.5em 0;
}

.content-wrap .pageno-group li {
  font-size: 16px;
  padding-right: 0.25em;
  color: #949494;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .content-wrap .pageno-group li {
    font-size: 14px;
  }
}

.content-wrap .pageno-group .current {
  color: #7E57C2;
}

