@charset "UTF-8";

.form-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.w70p {
  width: 70% !important;
}

.w30p {
  width: 30% !important;
}

.login-button-wrap {
  margin-left: 0.5rem;
  height: 100%;
  padding: 0.5rem;
}

.login-button-wrap button {
  border: 1px solid #7E57C2;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: gray;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #b1a5a5;
          box-shadow: 2px 2px 2px #b1a5a5;
}

.login-button-wrap button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: space-between;
      flex-wrap: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin: 1rem auto;
}

.mgt8 {
  margin-top: 8px !important;
}

.mgt16 {
  margin-top: 16px !important;
}

.bline {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

.totalSearch-table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

@media screen and (max-width: 576px) {
  .totalSearch-table .tr {
    font-size: 90%;
  }
}

.totalSearch-table .tr:not(:first-child) {
  cursor: pointer;
}

.totalSearch-table .tr:nth-child(2n):hover {
  background-color: aliceblue;
}

.totalSearch-table .tr:nth-child(2n-1):hover {
  background-color: ghostwhite;
}

.totalSearch-table .tr:first-child:hover {
  background-color: white;
}

.totalSearch-table .tr .th {
  width: 25%;
  text-align: center;
}

.totalSearch-table .tr .td {
  width: 25%;
  text-align: center;
}

.totalSearch-table .tr .td.search-subject {
  display: inline-block;
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
