//common
@import '../common/base';
@import '../common/mixins';

// layout
@import '../layout/header';
@import '../layout/footer';

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
input,select{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.content-wrap{
    
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    @include MD{
        margin: 0 1em;

    }

    .content-frame{
        border: 1px solid black;
        min-height: 200px;
        margin-bottom: 3em;
        border-radius: 1.5em;
        padding: 2em;
        position: relative;
    
        div{
            margin-bottom: 0.5em;
        }
    
        .title{
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            //font-family: "Noto Sans KR", sans-serif;
            letter-spacing: -1.5px;
            line-height: 1.2;
        }
    
        .writer-wrap{
            @include fx($v:center);
            position: relative;
            p{
                font-weight: 400;
                font-style: normal;
                //font-family: "Noto Sans KR", sans-serif;
                color: #949494;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 1.2;
                text-align: left;
                cursor: pointer;
            }
    
            span{
                font-size: 1.125rem;
            }
            
        }
        .subject{
    
            font-weight: 300;
            font-style: normal;
            font-family: 'Noto Sans KR', sans-serif;
            color: #000000;
            font-size: 14px;
            letter-spacing: -0.5px;
            line-height: 1.3;
            text-align: left;
    
        }
    }
    
}



.top-arrow{
    position: fixed;
    right: 5%;
    bottom: 2em;
    @include MD{
        bottom: 5em;
    }
    span{
        font-size: 48px;
    }
    @include XS{
        display: none;
    }
}


@keyframes sidebar {

    0%{
        margin-right: -999px;
    }

    100%{
        margin-right: 0;
    }

}

@keyframes sidebar-search-bar {

    0%{
    }

    100%{
        width: 125px;
    }

}

.person-function{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 1em 0;
    background-color: rgba(163, 163, 163, 0.89);
    border-radius: 0.25em;
    font-size: 14px;
    font-weight: 600;
    z-index: 88;

    li{
        color: #ffffff;
        padding: 0.375em 0;
        padding-left: 1em;
    }

}

.sidebar-wrap{
    position: relative;
    #bar-chk:checked + .sidebar{
        @include fx($direction:column,$h:space-between);
        padding-bottom: 100px;
    }
    .sidebar{
        position: fixed;
        top: 80px;
        min-height: 100vh;
        background-color: #1c1c1c;
        right: 0;
        display: none;
        color: white;
        padding: 2em;
        font-size: 14px;
        animation: sidebar 0.5s ease-out;
        z-index: 9999;
        width: 230px;
        .info{
            position: relative;
            width: 170px;
            @include fx($h:space-between,$v:center);
            img{
                height: 45px;
            }
            label{
                cursor: pointer;
            }
            #my-function-chk:checked + .person-function{
                display: block;

            }
            border: 1px solid white;
            border-radius: 0.5em;
            padding: 1.5em 1em;
            margin-bottom: 2em;
            
        }
        .menu{
            padding-left: 1em;
            li{
                padding: 1.25em 0;
                &:nth-child(1){
                    font-weight: bold;
                }
            }
        }
        .search-bar{
            position: relative;
            width: 50px;
            transition: 0.5s;
            margin: 1em;
            display: none;
            @include XS{
                display: block;
            }
            span{
                color: #9999;
                position: absolute;
                cursor: pointer;
                font-size: 24px;
                line-height: 1.2;
                right: 2%;
            }
            input[type=text]{
                border-radius: 0.375em;
                font-size: 0.75rem;
                font-weight: bold;
                height: 30px;
                width: 100%;
                border: 0;
                line-height: 30px;
                vertical-align: middle;
                background-color: rgb(235, 235, 235);
                padding-left: 1em;
                &:valid{
                    background-color: white;
                }
            }
            &:focus-within,&:hover{
                width: 90%;
            }
        }  
        .icon{
            @include fx($h:right);
            li{
                span{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.purple{
    color: #9E0061;
}
.purple2{
    color: #7E57C2;
}
.gray{
    color: #949494;
}

.xs-off{
    display: inline-block;
    @include XS{
        display: none;
    }
}

.xs-on{
    display: none;
    @include XS{
        display: inline-block;
    }
}

.info-wrap{
    @include fx($v:center);
    position: fixed;
    border-radius: 0.75em;
    left: 5%;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    font-style: normal;
    font-family: "Noto Sans KR", sans-serif;
    padding: 0.5em 1em;
    font-weight: 300;
    @include XXL{
        display: none;
    }

    ul{
        li{
            &:first-child{
                color: #7102a5;
                font-weight: 600;
            }
            color: #949494;
            margin: 1em 0;
        }
        
    }
}