@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600;1,700&display=swap');
$primary : #435da5;
$danger : #f00;
$warnig : #394739;
$dark : #333;
$white : white;
$pointColor : #7E57C2;
$gray : #949494;;

$light : #f1f1f1;
$primary-light : rgb(166, 182, 224);
$primary-dark : #2f3c5e;

$sideBarColor : #EEEEEE;
$contentColor : white;
$color1 : #141E61;
$color2 : #0F044C;

$studyColor1 : rgb(152, 188, 218);
$studyColor2 : rgb(157, 157, 158);
$studyTotal: 10;
// @for $i from 1 to $total {
//   li:nth-child(#{$i}){
//     left: 0.25% * $i;
//   }
// }

$XXL : 1500px;
$XL : 1400px;
$LG : 1200px;
$MD : 992px;
$SM : 768px;
$XS : 576px;

$noto-kr : 'Noto Sans KR', sans-serif;
$open-en :  'Open Sans', sans-serif;
$do-hyeon: 'Do Hyeon', sans-serif;

$FS: flex-start;
$FE: flex-end;
$ST: stretch;
$SB: space-between;
$SA: space-around;
$SE: space-evenly;
$CT: center;
$LT: left;
$RT: right;
$NW: nowrap;
$col: column;