

header{
    width: 100%;
    height: 80px;
    background-color: #1c1c1c;
    position: fixed;
    z-index: 89;
    ul{
        height: 100%;
        margin: 0 5rem;
        
        @include fx($h:space-between,$v:center);
        @include MD{
            margin: 0 1rem;
        }
        li{
            padding: 0 0.5em;
            &:nth-child(1){
                width: auto; /* 168px */
                height: auto; /* 61px */
                overflow: visible;
                white-space: pre;
                font-weight: bold;
                font-style: italic;
                font-family: "Montserrat", serif;
                color: #ffffff;
                font-size: 36px;
                letter-spacing: -2px;

            }
            &:nth-child(2){

                width: calc(70vw - 110px);
                max-width: 800px;
                @include fx($v:center);

                @include XS{
                    display: none;
                }
                .select-wrap{
                    position: relative;
                    @include fx($v:center);
                    select{
                        width: 110px;
                        height: 28px;
                        border-radius: 0.375em;
                        color: white;
                        border: 1px solid white;
                        background-color: #1c1c1c;
                        font-size: 12px;
                        line-height: 30px;
                        padding: 0 0.5em;
                        margin-right: 2em;
                        -webkit-appearance: none; 
                        -moz-appearance: none;    
                        appearance: none;        
                        background: url(../image/select_arrow.jpg) no-repeat right;
                    }
                }
                

                input[type=text]{
                    border-radius: 0.375em;
                    font-size: 0.75rem;
                    font-weight: bold;
                    width: calc(90% - 110px);
                    max-width: 1000px;
                    padding-left: 0.5em;
                    height: 30px;
                    border: 0;
                    line-height: 30px;
                    vertical-align: middle;
                    background-color: rgb(235, 235, 235);
                    &:valid{
                        background-color: white;
                    }
                }
            }

            &:nth-child(3){
                span{
                    color: white;
                    font-size: 36px;
                    cursor: pointer;
                }
                
            }
        }
    }
}
