<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.commentMapper">

    <!--comment 다건조회-->
    <select id="selectComment" parameterType="String" resultType="CommentDTO">
        SELECT
            NUM
            ,BRD_REF
            ,CONTENT
            ,WRITER
            ,REG_DATE
            ,UPD_DATE
            ,DEL_YN
        FROM
             comment
        WHERE BRD_REF = #{brdRef}
        AND DEL_YN = 'N'
    </select>

    <!--comment 등록-->
    <insert id="insertComment" parameterType="CommentDTO">
        INSERT INTO comment
        (
            NUM
            ,BRD_REF
            ,CONTENT
            ,WRITER
            ,REG_DATE
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(num), 0) + 1 FROM comment ALIAS_FOR_SUBQUERY)
            , #{brdRef}
            , #{content}
            , #{writer}
            , (SELECT date_format(now(),'%Y-%c-%d'))
            , 'N'
        )
    </insert>

    <!--comment 다건삭제-->
    <update id="deleteAllComment" parameterType="CommentDTO">
        UPDATE
            comment
        SET
            DEL_YN = 'Y'
        WHERE  BRD_REF=#{brdRef}
    </update>

    <!--comment 단건삭제-->
    <update id="deleteComment" parameterType="CommentDTO">
        UPDATE
            comment
        SET
            DEL_YN = 'Y'
        WHERE  BRD_REF=#{brdRef}
        AND NUM = #{num}
    </update>

    <!--comment 수정-->
    <update id="updateComment" parameterType="CommentDTO">
        UPDATE
            comment
        SET
            CONTENT = #{content}
            , UPD_DATE = (SELECT date_format(now(),'%Y-%c-%d'))
        WHERE NUM = #{num}
    </update>

    <!--전체 comment 개수 조회 -->
    <select id="selectCommentTotalCount" parameterType="String" resultType="Integer">
        SELECT
            COUNT(*) AS Count
        FROM
            comment
        WHERE BRD_REF = #{brdRef}
        AND DEL_YN = 'N'
    </select>

</mapper>