<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.likeMapper">

    <!-- like 여부 조회-->
    <select id="TipLikeYN" parameterType="LikeBoardDTO" resultType="String">
        SELECT DEL_YN
          FROM LIKE_BOARD
         WHERE USER_ID = #{userId}
           AND BOARD_TYPE = #{boardType}
           AND BOARD_IDX = #{boardIdx}
    </select>

    <!-- like 등록-->
    <insert id="insertLike" parameterType="LikeBoardDTO">
        INSERT INTO LIKE_BOARD
              (IDX
              ,USER_ID
              ,BOARD_IDX
              ,BOARD_TYPE
              ,DEL_YN
              )
        VALUES
             ((SELECT NVL(MAX(idx), 0) + 1 FROM like_board ALIAS_FOR_SUBQUERY)
              ,#{userId}
              ,#{boardIdx}
              ,#{boardType}
              ,'N'
              )
    </insert>

    <!-- like 재등록-->
    <update id="doLike" parameterType="LikeBoardDTO">
        UPDATE LIKE_BOARD
           SET DEL_YN = 'N'
         WHERE USER_ID = #{userId}
           AND BOARD_TYPE = #{boardType}
           AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- like 해제-->
    <update id="undoLike" parameterType="LikeBoardDTO">
        UPDATE LIKE_BOARD
           SET DEL_YN = 'Y'
         WHERE USER_ID = #{userId}
           AND BOARD_TYPE = #{boardType}
           AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- like 등록시 게시글 likeCount 증가-->
    <update id="addTipLikeCount" parameterType="int">
        UPDATE TIP_BOARD
           SET LIKE_COUNT = LIKE_COUNT+1
         WHERE NUM = #{num}
    </update>

    <!-- like 해제시 게시글 likeCount 감소-->
    <update id="delTipLikeCount" parameterType="int">
        UPDATE TIP_BOARD
           SET LIKE_COUNT = LIKE_COUNT-1
         WHERE NUM = #{num}
    </update>

</mapper>