<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.matzipMapper">

    <select id="selectMatzip" parameterType="Integer" resultType="MatzipDTO">
        SELECT
        ID
        ,CATEGORY
        ,MATZIP_DATA
        ,CLOSED_STATE
        FROM
        MATZIP_BOARD
        WHERE ID = #{matzipId}
    </select>

    <select id="selectRecmList" parameterType="Integer" resultType="recmDTO">
        SELECT
        NUM
        , REF_MATZIP
        , WRITER
        , SUBJECT
        , STAR
        , CONTENT
        , DEL_YN
        , REG_DATE
        , UPD_DATE
        FROM RECM_BOARD
        WHERE REF_MATZIP = #{matzipId}
        AND DEL_YN = 'N'
    </select>

    <select id="selectRecm" parameterType="Integer" resultType="recmDTO">
        SELECT
        NUM
        , REF_MATZIP
        , WRITER
        , SUBJECT
        , STAR
        , CONTENT
        , DEL_YN
        , REG_DATE
        , UPD_DATE
        FROM RECM_BOARD
        WHERE NUM = #{num}
        AND DEL_YN = 'N'
    </select>

    <select id="avgRate" parameterType="Integer" resultType="Float">
        SELECT
        AVG(STAR)
        FROM RECM_BOARD
        WHERE REF_MATZIP = #{matzipId}
        AND DEL_YN = 'N'
    </select>

    <select id="matzipCnt" parameterType="Integer" resultType="Integer">
        SELECT
        COUNT(*)
        FROM MATZIP_BOARD
        WHERE ID = #{matzipId}
    </select>

    <select id="recmCnt" parameterType="Integer" resultType="Integer">
        SELECT
        COUNT(*)
        FROM RECM_BOARD
        WHERE REF_MATZIP = #{matzipId}
        AND DEL_YN = 'N'
    </select>

    <insert id="insertMatzip" parameterType="MatzipDTO">
        INSERT INTO MATZIP_BOARD
        (   ID
        , CATEGORY
        , MATZIP_DATA
        , ADDRESS_NAME
        )
        VALUES
        (   #{id}
        , #{category}
        , #{matzipData}
        , #{addressName}
        )
    </insert>

    <insert id="insertRecm" parameterType="RecmDTO">
        INSERT INTO RECM_BOARD
        ( REF_MATZIP
        , WRITER
        , SUBJECT
        , STAR
        , CONTENT
        )
        VALUES
        ( #{refMatzip}
        , #{writer}
        , #{subject}
        , #{star}
        , #{content}
        )
    </insert>


    <update id="updClosedStat" parameterType="Int">
        UPDATE MATZIP_BOARD
        SET CLOSED_STATE = 'Y'
        WHERE (
        SELECT
        COUNT(*)
        FROM RECM_BOARD
        WHERE REF_MATZIP = #{id}
        AND DEL_YN = 'N'
        ) = 0 AND ID = #{id};
    </update>

    <update id="delRecm" parameterType="Integer">
        UPDATE RECM_BOARD
        SET
        DEL_YN = 'Y'
        WHERE NUM = #{num}
    </update>

    <select id="recmMatzipId" parameterType="Integer" resultType="Integer">
        SELECT
        REF_MATZIP
        FROM RECM_BOARD
        WHERE NUM = #{recmId}
    </select>

    <update id="updateRecm" parameterType="RecmDTO">
        UPDATE RECM_BOARD
        SET
        SUBJECT = #{subject}
        , STAR = #{star}
        , CONTENT = #{content}
        WHERE NUM = #{num}
    </update>

    <select id="categoryLoc" parameterType="String" resultType="FoodListDTO">
        SELECT
        ID
        , CATEGORY
        , MATZIP_DATA
        , CLOSED_STATE
        , ADDRESS_NAME
        FROM MATZIP_BOARD
        WHERE CATEGORY=#{category}
    </select>

    <select id="companyList" resultType="CompanyDTO">
        SELECT
        ID
        , LOCATION
        , COMPANY_DATA
        FROM COMPANY
    </select>

    <select id="matzipCount" resultType="CompanyDTO" parameterType="String">
        SELECT
        COUNT(*) AS MATZIPCOUNT
        , CATEGORY AS LOCATION
        FROM MATZIP_BOARD
        WHERE CATEGORY IN (SELECT LOCATION FROM COMPANY)
        AND CATEGORY=#{location}
        AND CLOSED_STATE = 'N' GROUP BY CATEGORY;
    </select>

    <select id="matzipList" parameterType="PageDataDTO" resultType="CompanyDTO">
        SELECT
        A.ID
        , A.LOCATION
        , A.COMPANY_DATA
        FROM
        (SELECT
        @ROWNUM:=@ROWNUM+1 AS RNUM
        , B.ID
        , B.CATEGORY AS LOCATION
        , B.MATZIP_DATA AS COMPANY_DATA
        FROM MATZIP_BOARD AS B
        , (SELECT @ROWNUM:=0) R
        WHERE CATEGORY=#{location}
        AND CLOSED_STATE = 'N'
        ) AS A
        LIMIT #{startRow}, #{dataPerPage}
    </select>


    <select id="recmMatzip" parameterType="Integer" resultType="CompanyDTO">
        SELECT
        COUNT(*) AS MATZIPCOUNT
        , REF_MATZIP AS ID
        FROM RECM_BOARD
        WHERE REF_MATZIP= #{id}
        AND DEL_YN = 'N'
        GROUP BY REF_MATZIP
    </select>

    <select id="selectCompany" resultType="CompanyDTO">
        SELECT
        DISTINCT
        LOCATION
        FROM COMPANY
    </select>

    <select id="selectRecmPostNum" parameterType="recmDTO" resultType="Int">
        SELECT
        NUM
        FROM RECM_BOARD
        WHERE WRITER = #{writer}
        AND SUBJECT = #{subject}
        AND DEL_YN = 'N'
        ORDER BY NUM desc
        LIMIT 1
    </select>

    <select id="matzipExistCheck" parameterType="Integer" resultType="Integer">
        SELECT
        EXISTS
        (
        SELECT
        REF_MATZIP FROM RECM_BOARD
        WHERE REF_MATZIP = #{id}
        limit 1
        )
        AS SUCCESS
    </select>


    <select id="companyCategory" resultType="CompanyDTO">
        SELECT
        LOCATION
        FROM COMPANY
    </select>

    <select id="categoryDetail" parameterType="String" resultType="CompanyDTO">
        SELECT
        ID
        , LOCATION
        , COMPANY_DATA
        FROM COMPANY
        WHERE LOCATION=#{option}
    </select>

    <select id="dataCount" parameterType="String" resultType="Integer">
        SELECT
        COUNT(*)
        FROM MATZIP_BOARD
        WHERE CATEGORY=#{location}
        AND CLOSED_STATE = 'N'
    </select>
</mapper>