<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.memberMapper">

    <!-- 회원 가입 -->
    <insert id="register" parameterType="MemberDTO">
        INSERT INTO MEMBER(
        ID
        , PW
        , NAME
        , SITE
        , REG_DATE
        , AUTHSTATE
        )VALUES(
        #{id}
        , #{pw}
        , #{name}
        , #{site}
        , NOW()
        , #{authState}
        )
    </insert>

    <!--회원 아이디 중복 체크-->
    <select id="idDupChk" parameterType="String" resultType="Integer">
        SELECT
        COUNT(*)
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <!-- 회원 로그인 -->
    <select id="login" parameterType="String" resultType="MemberDTO">
        SELECT
        ID
        , PW
        , NAME
        , SITE
        , HIRE_DATE
        , REG_DATE
        , MEET_LINK
        , MEET_YN
        , MEM_STATUS
        FROM MEMBER
        WHERE ID = #{id}
        AND MEM_STATUS = 'Y'
    </select>

    <!-- 인증키 가져옴 -->
    <select id="key" parameterType="String" resultType="String">
        SELECT
        AUTHSTATE
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <update id="authStateUpdate" parameterType="String">
        UPDATE
        MEMBER
        SET AUTHSTATE='Y'
        WHERE ID = #{id}
    </update>

    <select id="authId" parameterType="String" resultType="Integer">
        SELECT
        COUNT(*)
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <!--  회원 정보 PW 제외 수정  -->
    <update id="modify" parameterType="MemberDTO">
        UPDATE MEMBER
        SET
        SITE = #{site}
        , HIRE_DATE = #{hireDate}
        , MEET_LINK = #{meetLink}
        , MEET_YN = #{meetYn}
        WHERE ID = #{id}
    </update>

    <!--  회원 정보 PW 포함 수정  -->
    <update id="modifyPass" parameterType="MemberDTO">
        UPDATE MEMBER
        SET
        PW = #{pw}
        , SITE = #{site}
        , HIRE_DATE = #{hireDate}
        , MEET_LINK = #{meetLink}
        , MEET_YN = #{meetYn}
        WHERE ID = #{id}
    </update>

    <!-- 회원 정보 이미지 파일 업로드  -->
    <insert id="insertMemFileList" parameterType="FileDTO">
        <![CDATA[
			INSERT INTO
			FILE
			(
				BRD_REF,
				ORG_FILE_NAME,
				FILE_NAME,
				FILE_EXTENSION,
				FILE_PATH,
				REG_ID
			)
			VALUES
		]]>
        <foreach collection="list" item="item" separator=",">
            (
            #{item.brdRef},
            #{item.orgFileName},
            #{item.fileName},
            #{item.fileExtension},
            #{item.filePath},
            #{item.regId}
            )
        </foreach>
    </insert>

    <!--  회원 정보 이미지 파일 삭제  -->
    <update id="delUserImg" parameterType="String">
        UPDATE FILE
        SET
        DLT_YN = 'Y'
        WHERE FILE_NAME = #{fileName}
    </update>

    <!-- 회원 정보 이미지 파일 조회 -->
    <select id="selectMemFileList" parameterType="String" resultType="FileDTO">
        SELECT
        BRD_REF
        , ORG_FILE_NAME
        , FILE_NAME
        , FILE_EXTENSION
        , FILE_PATH
        , REG_ID
        , DLT_YN
        FROM
            FILE
        WHERE
            BRD_REF = #{brdRef}
            AND DLT_YN = 'N'
    </select>

    <!--  회원 탈퇴  -->
    <update id="withdraw" parameterType="MemberDTO">
        UPDATE MEMBER
        SET
        MEM_STATUS = 'N'
        WHERE ID = #{id}
        AND MEM_STATUS = 'Y'
    </update>


</mapper>