<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.memberMapper">

    <!-- 회원 가입 -->
    <insert id="register" parameterType="com.wisein.wiselab.dto.MemberDTO">
        INSERT INTO MEMBER(
        ID
        , PW
        , NAME
        , SITE
        , REG_DATE
        , AUTHSTATE
        )VALUES(
        #{id}
        , #{pw}
        , #{name}
        , #{site}
        , NOW()
        , #{authstate}
        )
    </insert>


    <!-- 회원 로그인 -->
    <select id="login" parameterType="String" resultType="com.wisein.wiselab.dto.MemberDTO">
        SELECT
        ID
        , PW
        , NAME
        , SITE
        , HIRE_DATE
        , REG_DATE
        , MEET_LINK
        , MEET_YN
        , MEM_STATUS
        FROM MEMBER
        WHERE ID = #{id}
        AND MEM_STATUS = 'Y'
    </select>

    <!-- 인증키 가져옴 -->
    <select id="key" parameterType="String" resultType="String">
        SELECT
        AUTHSTATE
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <update id="authStateUpdate" parameterType="String">
        UPDATE
        MEMBER
        SET AUTHSTATE='Y'
        WHERE ID = #{id}
    </update>

    <select id="authId" parameterType="String" resultType="Integer">
        SELECT
        COUNT(*)
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <!--  회원 정보 수정  -->
    <update id="modify" parameterType="com.wisein.wiselab.dto.MemberDTO">
        UPDATE MEMBER
        SET
        PW = #{pw}
        , SITE = #{site}
        , HIRE_DATE = #{hireDate}
        , MEET_LINK = #{meetLink}
        , MEET_YN = #{meetYn}
        WHERE ID = #{id}
    </update>


    <!--  회원 탈퇴  -->
    <update id="withdraw" parameterType="com.wisein.wiselab.dto.MemberDTO">
        UPDATE MEMBER
        SET
        MEM_STATUS = 'N'
        WHERE ID = #{id}
        AND MEM_STATUS = 'Y'
    </update>

</mapper>