<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.qaListMapper">

    <select id="selectQaList" parameterType="QaListDTO" resultType="QaListDTO">
        <![CDATA[
        SELECT A.RNUM
             , A.NUM
             , A.CATEGORY
             , A.WRITER
             , A.SUBJECT
             , A.CONTENT
             , A.REG_DATE
             , A.UPD_DATE
             , A.ADP_YN
             , A.DEL_YN
             , A.PARENT_NUM
          FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM
                     , QB.NUM 
                     , QB.CATEGORY
                     , QB.WRITER
                     , QB.SUBJECT
                     , QB.CONTENT
                     , QB.REG_DATE
                     , QB.UPD_DATE
                     , QB.ADP_YN
                     , QB.DEL_YN
                     , QB.PARENT_NUM
                  FROM QA_BOARD QB
                     , (SELECT @ROWNUM:=0) R
                 WHERE 1=1
				   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           		   AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
                   AND DEL_YN = 'N'
                   AND QB.NUM > 0
                 GROUP BY QB.NUM
                 ORDER BY NUM DESC
                ) AS A
        LIMIT #{firstRecordIndex}, #{RECORDSPERPAGE}
        ]]>
    </select>

	<select id="selectBoardTotalCount" parameterType="QaListDTO" resultType="int">
		<![CDATA[
		SELECT COUNT(NUM)
		  FROM QA_BOARD
		 WHERE 1=1
		   AND CATEGORY = CASE WHEN #{searchType} != 'all' THEN #{searchType} ELSE CATEGORY END
           AND SUBJECT LIKE CONCAT ('%', #{keyword}, '%')
		   AND DEL_YN = 'N'
		   AND NUM > 0
		]]>
	</select>
    <!-- 게시글 등록 -->
    <insert id="insertQaBoard" parameterType="QaListDTO">
        INSERT INTO qa_board
        (
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,ADP_YN
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(num), 0) + 1 FROM qa_board ALIAS_FOR_SUBQUERY)
            , #{category}
            , #{writer}
            , #{subject}
            , #{content}
            , (SELECT date_format(now(),'%Y-%c-%d'))
            , 'N'
            , 'N'
        )
    </insert>
    <!-- 단건 조회 -->
    <select id="selectQaOne" parameterType="QaListDTO" resultType="QaListDTO">
        SELECT
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,UPD_DATE
            ,ADP_YN
            ,DEL_YN
            ,PARENT_NUM
        FROM
            qa_board
        WHERE NUM=#{num}
    </select>
    <!-- 게시글 삭제 -->
    <delete id="deleteQaBoard" parameterType="Integer">
        UPDATE
            qa_board
        SET
            del_yn = 'Y'
            , upd_date = (SELECT date_format(now(),'%Y-%c-%d'))
        WHERE num = #{num}
    </delete>
    <!-- 게시글 수정 -->
    <update id="updateQaBoard" parameterType="QaListDTO">
        UPDATE
            qa_board
        SET
            subject = #{subject}
            , content = #{content}
            , upd_date = (SELECT date_format(now(),'%Y-%c-%d'))
        WHERE num = #{num}
    </update>
    <!-- 파일 신규 등록 -->
    <select id="selectQaNum2" resultType="Integer">
        SELECT NVL(MAX(num), 0)+1 AS NUM FROM qa_board ALIAS_FOR_SUBQUERY ;
    </select>
    <!-- 파일 수정 등록 -->
    <select id="selectQaNum" parameterType="QaListDTO" resultType="QaListDTO">
        SELECT
            NVL(max(num), 0) AS num
        FROM
            qa_board
        WHERE
            num = #{num}
    </select>
    <!-- 댓글 등록 -->
    <insert id="insertCommentQaBoard" parameterType="QaListDTO">
        INSERT INTO qa_board
        (
        NUM
        ,CATEGORY
        ,WRITER
        ,SUBJECT
        ,CONTENT
        ,REG_DATE
        ,ADP_YN
        ,DEL_YN
        ,PARENT_NUM
        )
        VALUES
        (
        (SELECT NVL(MAX(num), 0) + 1 FROM qa_board ALIAS_FOR_SUBQUERY)
        , #{category}
        , #{writer}
        , #{subject}
        , #{content}
        , (SELECT date_format(now(),'%Y-%c-%d'))
        , 'N'
        , 'N'
        , #{parentNum}
        )
    </insert>

    <!-- 댓글 조회 -->
    <select id="selectCommentQaList" resultType="QaListDTO">
        SELECT
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,UPD_DATE
            ,ADP_YN
            ,DEL_YN
            ,PARENT_NUM
        FROM
            qa_board
        WHERE PARENT_NUM = #{num}
    </select>

    <!-- 게시글 총 개수 -->
	<select id="listSearchCount" resultType="int">
		<![CDATA[
		SELECT COUNT(NUM)
		  FROM QA_BOARD
		 WHERE 1=1
		   AND NUM > 0
		]]>
	</select>

</mapper>