<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.scrapMapper">

    <!-- Scrap 여부 조회-->
    <select id="TipScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <select id="QaScrapYN" parameterType="ScrapBoardDTO" resultType="String">
        SELECT DEL_YN
        FROM
            Scrap_board
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </select>

    <!-- Scrap 등록-->
    <insert id="insertScrap" parameterType="ScrapBoardDTO">
        INSERT INTO Scrap_board
        (
            IDX
            ,USER_ID
            ,BOARD_IDX
            ,BOARD_TYPE
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(idx), 0) + 1 FROM Scrap_board ALIAS_FOR_SUBQUERY)
            , #{userId}
            , #{boardIdx}
            , #{boardType}
            , 'N'
        )
    </insert>

    <!-- Scrap 재등록-->
    <update id="doScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'N'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 해제-->
    <update id="undoScrap" parameterType="ScrapBoardDTO">
        UPDATE
            Scrap_board
        SET
            DEL_YN = 'Y'
        WHERE USER_ID = #{userId}
        AND BOARD_TYPE = #{boardType}
        AND BOARD_IDX = #{boardIdx}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delTipScrapCount" parameterType="int">
        UPDATE
            tip_board
        SET
            Scrap_COUNT = Scrap_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- Scrap 등록시 게시글 ScrapCount 증가-->
    <update id="addQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT+1
        WHERE num = #{num}
    </update>

    <!-- Scrap 해제시 게시글 ScrapCount 감소-->
    <update id="delQaScrapCount" parameterType="int">
        UPDATE
        qa_board
        SET
        SCRAP_COUNT = SCRAP_COUNT-1
        WHERE num = #{num}
    </update>

    <!-- like 게시글 parentNum -->
    <select id="getScrapParentNum" parameterType="int" resultType="int">
        SELECT
            PARENT_NUM
        FROM
            qa_board
        WHERE
            NUM = #{num}
    </select>

</mapper>