<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisein.wiselab.mapper.tipBoardMapper">

    <!--TipBoard 다건조회-->
    <select id="selectTipList" resultType="TipBoardDTO">
        SELECT
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,UPD_DATE
            ,DEL_YN
            ,COUNT
        FROM
            tip_board
        WHERE DEL_YN = 'N'
    </select>

    <!--TipBoard 단건조회-->
    <select id="selectTipOne" parameterType="TipBoardDTO" resultType="TipBoardDTO">
        SELECT
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,UPD_DATE
            ,DEL_YN
            ,COUNT
        FROM
             tip_board
        WHERE NUM=#{num}
    </select>

    <!--TipBoard 게시글 등록-->
    <insert id="insertTipBoard" parameterType="TipBoardDTO">
        INSERT INTO tip_board
        (
            NUM
            ,CATEGORY
            ,WRITER
            ,SUBJECT
            ,CONTENT
            ,REG_DATE
            ,DEL_YN
        )
        VALUES
        (
            (SELECT NVL(MAX(num), 0) + 1 FROM tip_board ALIAS_FOR_SUBQUERY)
            , #{category}
            , #{writer}
            , #{subject}
            , #{content}
            , (SELECT date_format(now(),'%Y-%c-%d'))
            , 'N'
        )
    </insert>

    <!--TipBoard 게시글 삭제-->
    <update id="deleteTipBoard" parameterType="Integer">
        UPDATE tip_board SET DEL_YN = 'Y' WHERE num = #{num}
    </update>

    <!--TipBoard 게시글 수정-->
    <update id="updateTipBoard" parameterType="TipBoardDTO">
        UPDATE
        tip_board
        SET
        subject = #{subject}
        , content = #{content}
        WHERE num = #{num}
    </update>


</mapper>