@import './common/common';


.content-wrap{
    max-width: 950px;
    min-width: 350px;
}

.content-frame{
    @include fx();
    @include XS{
        direction: column;
    }
    .food-info-wrap{
        width: 50%;
        padding: 2em;
        @include XS{
            width: 100%;
            padding: 0em;
        }
        
        .food-info-title{
            font-size: 18px;
        }
        .food-info-addr{
            font-size: 14px;
        }
        .food-info-content{
            font-size: 15px;
        }
    }

}
.score-wrap{
    @include fx($v:center);
    border-bottom : 2px solid $pointColor;
    margin-bottom: 1.5em;
    padding-bottom: 0.5vh;
}

.food-board-wrap{

    .food-board-title{
        @include fx($v:center);
        font-size: 18px;
    }
    .food-board-writer{
        @include fx($v:center);
        padding-bottom: 0.5vh;
        span{
            margin-left: 0.25em;
            font-size: 14px;
        }
    }
    .food-board-img{
        img{
            max-width: 100%;
            max-height: 300px;
        }
    }
    .food-board-content{
        
    }

}

.map-wrap{
    width: 50%;
    height: 100%;
    @include XS{
        width: 100%;
        height: 40%;
    }
    #map{
        width: 100%;
        height: 250px;
    }
}