@import './common/common';


.content-wrap{
    max-width: 1400px;
}
.content-wrap{
    .content-frame{
        margin-bottom: 1.5em;
    }
    .content-top-group{
        @include fx($h:right);
        font-size: 16px;
        @include XS{
            @include fx($h:space-between,$v:center);
        }
        .category-group{
            position: relative;
            display: none;
            cursor: pointer;
            @include XS{
                @include fx($h:center,$v:center);
            }
            .person-function{
                width: 100px;
            }
        }
        button{
            background-color: #7E57C2;
            color: white;
            border-radius: 0.25em;
            padding: 0.375em;
            cursor: pointer;
            @include shadow-btn();
            &::after{
                content: "질문!";
                @include XS{
                    content: "작성";
                }
            }
                
        }
    }
    .board-list{
        .board-header{
            @include XS{
                display: none !important; 
            }
        }
        .board-line{
            border-bottom: 1px solid black;
            @include fx($v:center,$w:nowrap);
            margin: 0;
            min-height: 40px;
            &:not(.board-header):hover{
                background-color: #faf6f6;
            }
            .board-cell{
                text-align: center;
                font-size: 14px;
                @include XS{
                    font-size: 12px;
                }
            }
            .board-no{
                flex-basis: 30px;
            }
            .board-category{
                position: relative;
                cursor: pointer;
                flex-basis: 160px;
                flex-shrink : 2;
                @include fx($v:center,$h:center,$w:nowrap);
                .person-function{
                    width: 100px;
                }
                @include XS{
                    flex-basis: 100px;
                    font-size: 10px;
                }
            }
            .board-title{
                position: relative;
                cursor: pointer;
                flex-basis: 80%;
                flex-shrink : 3;
                font-size: 16px;
                text-align: left;
                @include ellipsis($w:90%);
                @include fx($v:center,$w:nowrap);
                .person-function{
                    width: 100px;
                }
                @include XS{
                    font-size: 14px;
                }
            }
            .board-answer{
                flex-basis: 80px;
                @include XS{
                    display: none;
                }
            }
            .board-like{
                flex-basis: 80px;
                @include XS{
                    display: none;
                }
            }
            .board-writer{
                position: relative;
                flex-basis: 120px;
                cursor: pointer;
            }
            .board-date{
                flex-basis: 100px;
                @include XS{
                    display: none;
                }
            }

        }
    
    }
    .search-wrap{
        display: none;
        @include XS{
            @include fx($h:center,$v:center);
        }
        .select-wrap{
            @include fx($v:center);
            select{
                width: 70px;
                height: 28px;
                border-radius: 0.375em;
                border: 1px solid black;
                font-size: 12px;
                line-height: 30px;
                padding: 0 0.5em;
                margin-right: 0.25em;
                -webkit-appearance: none; 
                -moz-appearance: none;    
                appearance: none;        
                background: url(../image/select_arrow.jpg) no-repeat right;
            }
        }
        .search-bar{
            border: 1px solid black;
            border-radius: 0.375em;
            font-size: 0.75rem;
            font-weight: bold;
            width: 160px;
            padding-left: 0.5em;
            margin: 0 0.375em;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            background-color: rgb(235, 235, 235);
            &:valid{
                background-color: white;
            }
        }
    }
    
    .pageno-group{
        @include fx($h:center);
        margin: 1.5em 0;
        li{
            font-size: 16px;
            padding-right: 0.25em;
            color: $gray;
            cursor: pointer;
            @include XS{
                font-size: 14px;
            }
        }
        .current{
            color: $pointColor;
        }
    }
    
}






